In [6]:
import pandas as pd

In [7]:
values = pd.read_csv('input', sep=" ", header=None, names=['direction', 'value'])

In [8]:
HorizontalPos=VerticalPos=0

In [9]:
values.head()

  direction  value
0   forward      8
1      down      9
2        up      4
3      down      8
4      down      3